<div class="container">
  <h2>Already registered? Sign in!</h2>
  <form id = "login">
    <div class="form-group">
      <label for="username-login">Email:</label>
      <input type="email" class="form-control" id="username-login" placeholder="Enter username">
    </div>
    <div class="form-group">
      <label for="password-login">Password:</label>
      <input type="password" class="form-control" id="password-login" placeholder="Enter password">
    </div>
    <input type="submit" class="btn btn-default" value="Login">
  </form>
</div>

<div class="container">
  <h2>Not registered? Sign up!</h2>
  <form id = "register">
    <div class="form-group">
      <label for="username-register">Email:</label>
      <input type="email" class="form-control" id="username-register" placeholder="Enter username">
    </div>
    <div class="form-group">
      <label for="password-register">Password:</label>
      <input type="password" class="form-control" id="password-register" placeholder="Enter password">
    </div>
    <input type="submit" class="btn btn-default" value="Register">
  </form>
</div>

<script src="./javascript/login.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>